<div class="class" style="color: red;">
    <p class="class">
        p
    </p>
    <p class="class">
        p
    </p>
    <p class="class">
        p
    </p>
    <p class="class">
        p
    </p>
    <p class="class">
        p
    </p>
    <section>
        <p class="class">
            p
        </p>
        <p class="class">
            Count = {@count}
        </p>
        <button @onclick="Increase">
            Increase
        </button>
    </section>
</div>
