name: Build and publish nuget packages for bindings

on:
    push:
        branches:
        - master
        paths:
        - "Bindings/**/*.*"
        - "build.fsx"
        - ".github/Build and publish nuget package for bindings.yml"

jobs:
  build-and-push-nuget-packages-for-bindings:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x  

    - name: Run build.fsx
      env:
        NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
      run: dotnet fsi build.fsx -- -p packages --bindings
