name: Deploy to GitHub Pages

on:
  push:
    branches:
    - master
    paths:
      - 'Docs/**/*.*'
      - 'Fun.Blazor*/**/*.*'
      - "build.fsx"
  # release:
  #   types: [published]

jobs:
  deploy-to-github-pages:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x

    - name: Run build.fsx
      run: dotnet fsi build.fsx -- -p docs

    - name: Commit wwwroot to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@v4.2.3
      with:
        token: ${{ secrets.GH_PAGES_PAT }}
        branch: gh-pages
        folder: Fun.Blazor.Docs.Wasm.Release/wwwroot
        repository-name: slaveOftime/Fun.Blazor.Docs