name: PR check

on:
  pull_request:
    types:
      - opened
      - synchronize
      - edited

jobs:
  pr-check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x

    - name: Run build.fsx
      run: dotnet fsi build.fsx -- -p test
